{% extends "store/_base.html" %}
{% block title %}Set a new password{% endblock %}
{% block body %}
<div class="card center">
  <h1>Set a new password</h1>
  <form method="post" action="{% url 'store:reset_password' token %}">
    {% csrf_token %}
    <input type="hidden" name="token" value="{{ token }}">
    <input type="password" name="password" placeholder="New password (8+ characters)" required minlength="8" autofocus>
    <button class="btn" type="submit" style="width:100%">Save password &amp; sign in</button>
  </form>
</div>
{% endblock %}
